.backgroundcolor {
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f8f8ff 10px ), repeating-linear-gradient( #e4f6ef, #B8E1D1 );
  }

  .cardImage {
    margin-top: 5vh;
    height: 50%;
  }

  .cardBody {
    background-color: #B8E1D1;
    margin-bottom: 3vh;
    color: #476258;
  }

  .firstCard {
    display: flex;
    justify-content: space-around;
  }

  .three_buttons {
    padding-bottom: 5vh;
  }


  